:root{
  --font-color: #000;
  --light-font-color: #c3c3c3;
}

header {
  display: grid;
  justify-content: center;
  grid-template-columns: 5% 20% minmax(20%,50%) minmax(auto,50%) 5%;
  grid-template-areas: 
    ". logo . nav .";
  
  margin-bottom: 10px;

  background-color: var(--header-color);
  box-shadow: 2px 1px 15px grey;
}

nav {
  grid-area: nav;
  min-height: 50px;
  overflow: -moz-hidden-unscrollable;
  overflow: hidden;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
  margin: 10% 0;
}

nav li {
  list-style: none;
}

.navLinks {
  color: var(--font-color);
  text-decoration: none;
  font-size: 1.3rem;
  margin:0 3px
}

li > a{

  &:hover {
    font-weight: bolder;
  }

  
}

@media only screen and (max-width: 1300px) {

  header {
    grid-template-columns: 5% 35% 1fr minmax(auto,50%)  5%;
  }
}