:root{
  --main-color: #707476;
  --header-color: #505050;
  --font-color: #000;
  --light-font-color: #c3c3c3;
}
header {
  display: grid;
  justify-content: center;
  grid-template-columns: 5% 20% 50% 20% 5%;
  grid-template-rows: auto;
  grid-template-areas: 
    ". search . nav .";
  
  border-bottom: 1px solid black;
  margin-bottom: 10px;

  background-color: var(--header-color);
  box-shadow: 2px 1px 5px black;
}

nav {
  grid-area: nav;
  min-height: 2.8rem;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}
nav li {
  list-style: none;
}
.navLinks {
  color: var(--light-font-color);
  text-decoration: none;
  font-size: 0.8rem;
  margin:0 3px
}

#hidden {
  display: none;
}

@media only screen and (max-width: 768px) {

  .nav-ul {
    display: none;
  }

  #hidden{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
